.home__section {
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
    justify-content: center;
}
.ads{
  margin-top: 2vh;
  display: inline-flex; 
  justify-content: center;
  align-items: center;
  width: 15em;
  height: 5em;
  border: 1px solid green;
}

.title {
  font-weight: 600;
  width: 5em;
  border-bottom: 1px solid #c4c4c4;
  margin: 7vh auto auto auto;
}

.home {
  text-align: center;
}