* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: 0;
}
body, html {
  background: #eee;
  font-family: 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  height: 100%;
  width: 100%;
}

.login {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

form {
    width: 400px;
    background: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    scrollbar-color: #ff7779 #fff;
}

form > img {
    width: 100px;
    margin: 10px 0 40px;
}

form > p {
    color: #ff3333;
    margin-bottom: 15px;
    border: 1px solid #ff3333;
    padding: 10px;
    width: 100%;
    text-align: center;
}

form > input {
    background-color: #fff;
    flex: 1;
    height: 46px;
    margin-bottom: 15px;
    padding: 1em 20px;
    color: #777;
    font-size: 15px;
    width: 100%;
    border: 1px solid #ddd;
}

form > button {
    color: #fff;
    font-size: 16px;
    background: ##ff7779;
    height: 56px;
    border: 0;
    border-radius: 5px;
    width: 100%;
}

form > hr {
    margin: 20px 0;
    border: none;
    border-bottom: 1px solid #cdcdcd;
    width: 100%;
}

form > a {
    font-size: 16;
    color: #999;
    text-decoration: none;
}

.fileContainer .chooseFileButton {
    background: #ff7779;
    border-radius: 5px;
}