.item {
  position: relative;
  width: 70%;
  margin: auto;
  text-align: center;
}
.inner {
  background-color: inherit;
}
.item h1 {
  font-weight: bold;
  opacity: 0.9;
  padding: 15px 0;
  margin: 0 25px;
}
.item h2 {
  opacity: 0.9;
}
.item hr {
  width: 100%;
  margin: 17px 0;
  opacity: 0.4;
}
.item__price {
  position: relative;
  color: red;
  margin-bottom: 10px;
}
.item__price i {
  color: black;
  font-style: normal;
  font-weight: bold;
}
hr ~ h3 {
  font-weight: normal;
  width: 100%;
  opacity: 0.99;
  letter-spacing: 1px;
  padding: 15px 0;
}
hr ~ h3 ~ h3 {
  font-weight: bold;
  width: 100%;
  letter-spacing: 0;
  padding: 15px 0 0 0;
}

.item__heart {
  width: 30px !important;
  height: 30px !important;
  position: absolute;
  right: 10%;
  top: 3%;
  cursor: pointer;
  border: 0;
  outline: 0;
  z-index: 10;
}

.item__Location{
    display: inline-flex;
    margin-bottom: 25px;
}

.control-dots {
    left: 0;
    right: 0;
    margin: 10px  auto;
}

.carousel-status{
    display: none;
}

.slider-wrapper{
    max-width: 500px;
}

.carousel{
    text-align: center;
}

.thumb {
    max-width: 80px;
    width: 20vw !important;
}

.slide {
    background: transparent !important;
    justify-content: center;
    display: flex;
}

.control-prev.control-arrow::before {
    border-right: 8px solid #333 !important;
}

.control-next.control-arrow::before {
    border-left: 8px solid #333 !important;
}

.control-arrow:hover {
    background: transparent !important;
}

@media (max-width: 770px) {
    .control-prev.control-arrow::before {
        border-right: 8px solid #fff !important;
    }

    .control-next.control-arrow::before {
        border-left: 8px solid #fff !important;
    }
    .control-arrow{
        opacity: 1 !important;
    }
}

@media (max-width: 746px) {
  .item {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .item hr {
    width: 90%;
    display: inline-block;
  }
  .item__heart {
    top: 30px;
    right: 0;
  }
  hr {
    display: block;
  }
}