.banner {
  background: url("http://fudeu.duckdns.org:8000/files/background.jpeg") no-repeat;
  background-position: 50% !important;
  background-size: cover !important;
  text-align: center;
  margin: 0 auto;
  overflow: hidden;
  height: 427.2px;
}

.banner__info {
    background-color: white;
    padding: 8em 50px;
    width: 400px;
    height: 100%;
}

.banner__search {
    display: flex;
    flex-direction: column; 
    position: sticky;
    top: 104px;
    z-index: 9;
}

.banner__search > button{
    border-radius: 0;
    z-index: 2;
}

.banner__searchButton {
  background-color: white !important;
  font-weight: 900 !important;
  text-transform: inherit !important;
  color: #ff7779 !important;
}

.banner__info > button {
    background-color: #ff7779;
    color: white;
    text-transform: inherit;
    margin-top: 20px;
    font-weight: 600;
    border: 0;
}

.banner__info > button:hover {
    background-color: white;
    color: #ff7779;
  }
  

.banner__info > h5 {
    margin-top: 10px;
    color: #333;
}
 
@media only screen and (max-width: 885px) {
  .banner__info {
    color: #fff;
    margin: auto;
    padding: 15vh 0;
    background-color: transparent;
  }
  .banner__info > h5 {
    color: #fff;
  }
  .banner__info {
    height: 100%;
    width: unset;
  }
}
