* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: 0;
}
body, html {
  background: #eee;
  font-family: 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  height: 100%;
  width: 100%;
}

.date{
    justify-content: center;
    display: inline-flex;
    width: 100%;
}
.centeredText{
    display: flex;
    justify-content: center;
    width: 100%;
}

.react-date-picker__calendar--open{
    left: 50% !important;
    transform: translate(-50%, 0);
}

.react-date-picker__wrapper{
    border: 1px solid #ddd !important;
}

.react-date-picker__button:enabled:hover .react-date-picker__button__icon, .react-date-picker__button:enabled:focus .react-date-picker__button__icon {
    stroke: #ff7779;
}

.react-calendar__tile--active:enabled:hover, .react-calendar__tile--active:enabled:focus {
    background: #ff7779;
}

.react-calendar__tile--active {
    background: #ff7779;
}

.react-calendar__tile--hasActive {
    background: #ff7779;
    color: #fff;
}

.react-calendar__tile--hasActive:enabled:hover {
    background: #ff7779;
}

.MuiCheckbox-colorSecondary.Mui-checked {
    color: #ff7779 !important;
}

.MuiTypography-body1 {
    font-family: 'Helvetica Neue', 'Helvetica', Arial, sans-serif !important;
}

.MuiFormGroup-root {
    margin-top: 10px;
    width: 100%;
}

.MuiFormControlLabel-root {
    width: 100%;
    justify-content: center;
}

.selected-flag{
    height: 130%;
}

.registerPost {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.registerPost > form > div> div > input {
    border: 1px solid #ddd;
    border-radius: 0;
    color: #777;
    height: 46px;
}

.registerPost > form > div > div > div > input {
    border: 1px solid #ddd;
    border-radius: 0;
    color: #777;
    height: 46px;
}

form {
    width: 400px;
    background: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 1;
    margin-top: 1em;
    scrollbar-color: #ff7779 #fff;
}

form > img {
    width: 100px;
    margin: 10px 0 40px;
    align-self: center;
}

form > p {
    color: #ff3333;
    margin-bottom: 15px;
    border: 1px solid #ff3333;
    padding: 10px;
    width: 100%;
    text-align: center;
}

form > input {
    background-color: #fff;
    height: 46px;
    margin-bottom: 15px;
    padding: 1em 20px;
    color: #777;
    font-size: 15px;
    width: 100%;
    border: 1px solid #ddd;
}

form > span[contenteditable] {
    background-color: #fff;
    margin-bottom: 15px;
    padding: 1em 20px;
    color: #777;
    font-size: 15px;
    width: 100%;
    border: 1px solid #ddd;
}

form > span[contenteditable]:empty::before {
    content: 'Description';
    color: #BFBFBF;
}

form > span[contenteditable]:empty:focus::before {
    content: 'Start typing';
}

div > input {
    background-color: #fff;
    flex: 1;
    height: 46px;
    margin-bottom: 15px;
    padding: 1em 20px;
    color: #777;
    font-size: 15px;
    width: 47%;
    border: 1px solid #ddd;
}

form > button {
    color: #fff;
    font-size: 16px;
    background: #ff7779;
    min-height: 56px;
    border: 0;
    border-radius: 5px;
    width: 100%;
    margin-top: 23px;
    cursor: pointer;
}

form > hr {
    margin: 20px 0;
    border: none;
    border-bottom: 1px solid #cdcdcd;
    width: 100%;
}

form > a {
    font-size: 16;
    color: #999;
    text-decoration: none;
    align-self: center;
}

.fileContainer .chooseFileButton {
    background: #ff7779;
    border-radius: 5px;
}

@media only screen and (max-height: 900px) {
    form > a {
        padding-bottom: 1em;
    }
    form {
        overflow: auto;
        max-height: 100%;
    }
}
