.search {
    background-color: #fff;
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: fixed;
    z-index: 1;
    top: 20em;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px;
    text-align: left;
}

.search > h5 {
    margin-top: 2em;
}

.search > div {
    margin: 1em;
}

.search > .double_section {
    display: grid;
    grid-template-rows: 20px 40px;
    grid-template-columns: 180px;
    grid-template-areas: ". . " ". . ";
}

.search > input {
    width: 539px;
    padding: 20px;
    position: absolute;
    height: 30px;
    top: 389px;
    border: none;
    background-color: #fff;
  }
  
.search > input:focus {
    outline-width: 0;
}

.search > button {
    position: absolute;
    top: 100%;
    text-transform: inherit !important;
    background-color: #ff7779;
    color: white;
    width: 100%;
    border-radius: 0 0 10px 10px;
  }

.search > button:hover {
    background-color: white;
    color: #ff7779;
}

.search > div > div > div > div > div:hover{
    color: #fff;
}

@media only screen and (max-width: 720px) {
    .search {
        top: 17em;
    }
    .single_section > div{
        width: 10em !important;
    }
    .double_section > div{
        width: 5em !important;
    }
    .search > div {
        margin: 0;
    }
    .search > .double_section {
        grid-template-columns: inherit;
    }
}